
.post-form {
    width: 92%;
    background: #282c37;
    margin: 5% 4% 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-header {
    margin-top: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    background: #282c37;
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.post-info-about-user {
    display: flex;
    width: 100%;
}

.post-info-about-user .nickname {
    width: 20%;
    display: flex;
    margin: auto 3%;
}

.post-info-about-user .date {
    width: 15%;
    display: flex;
    margin: auto 2%;
}

.post-info-about-user p {
    font-size: 2vw;
    color: #d9e1e8;
}

.textarea {
    width: 100%;
    color: #d9e1e8;
    background: #282c37;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    resize: none;
    font-size: 2vw;
    line-height: 24px;
    overflow: auto;
    height: auto;
    padding: 4%;
    box-shadow: 0px 4px 10px -8px black;
}

.textarea::-webkit-input-placeholder {
    color: #d9e1e8;
}

.textarea:-ms-input-placeholder {
    color: #d9e1e8;
}

.textarea::-ms-input-placeholder {
    color: #d9e1e8;
}

.textarea::placeholder {
    color: #d9e1e8;
}

.textarea:focus {
    outline: none;
}



.button-add-photo {
    width: 35%;
    margin: auto 1% auto 30%;
}

.form-group {
    margin-bottom: auto;
    margin-top: auto;
}

.button-add-photo .btn-tertiary{
    color:#555;
    width: 100%;
    margin:auto;
    display:block;
    border:2px solid #555;
}
.button-add-photo .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
    color:#888;
    border-color:#888
}
.button-add-photo .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1}
.button-add-photo .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer
}

.button-add-post {
    border-radius: 50%;
    border: 3px solid #282c37;
    object-fit: cover;
    margin: auto 2%;
}

.add-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.add-button {
    width: 100%;
    font-size: 2vw;
    border-radius: 100%;
    opacity: .4;
}
.add-button:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

label {
    cursor: default;
    margin-bottom: auto;
    margin-top: auto;
}

#post-button {
    margin-right: 5%;
}
.form-group {
    margin-left: 8%;
}