
.icon-profile {
    width: 8%;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    /* padding-top: 1%; */
    padding-bottom: 1%;
    height: 80%;
    margin-right: 2%;
}

.icon-profile img {
    border-radius: 50%;
    border: 3px solid #282c37;
    box-shadow: 0 0 7px #666;
    object-fit: cover;
    height: 90px;
    width: 90px;
    display: block;
    margin: auto;
}

.icon-profile img:hover {
    transform: scale(1.15);
}

.post-header {
    /*border-top-right-radius: 50px;*/
    margin-top: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    background: #282c37;
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.post-user-info {
    display: flex;
    width: 100%;
}

.post-user-info .nickname {
    width: 20%;
    display: flex;
    margin: auto 2%;
}

.post-user-info .date {
    width: 15%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20%;
}

.post-user-info p {
    font-size: 20px;
    color: #d9e1e8;
}

@media screen and (max-width: 1200px) {
    .icon-profile img {
        height: 70px;
        width: 70px;
    }
}


@media screen and (max-width: 700px) {
    .icon-profile img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 500px) {
    .icon-profile img {
        height: 30px;
        width: 30px;
    }
}