.email-confirmed__img{
    width: 100%;
}

.email-confirmed__header{
    text-align: center;
    font-size: 30px;
}

.email-confirmed__button{
    border: 1px solid #fff;
    padding: 15px 20px;
    font-size: 25px;
    width: fit-content;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: auto;
    display: block;
    text-decoration: none;
    color: #fff;
}

.email-confirmed__button:hover{
    background: rgba(255, 115, 82, 0.38);
    text-decoration: none;
    color: #fff;
}

.email-confirmed .email-confirmed__img{
    margin-top: 50px;
}

.email-confirmed .email-confirmed__button{
    margin-top: 50px;
}